* {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 20px;
    width: max-content;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 60px;
    margin-bottom: 50px;
    background-color: #023E8A;
    box-shadow: 10px 10px 0px #03045e;
}

button {
    border-radius: 50%;
    border: none;
    background-color: #828282;
    width: 70px;
    height: 70px;
    padding: 2em;
    box-shadow: 0px 3px 2px 2px #CCCCCC;
    
}

button:hover {
    background-color: #F2F8F7 ;
}

#container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    /* width: 512px; */
    height: 512px;
    width:512px;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #023E8A;
}

#color {
    background-color: red;
}

.row {
    display: flex;
    flex-direction: row;
}
.square {
    /* width: 30px;
    height: 30px; */
    border: 1px solid;
    padding: 0;
}


